<ion-button *ngIf="tile && show"
            class="animated zoomIn faster"
            expand="full"
            color="{{tile?.color}}"
            ion-activatable>
    <ion-icon slot="icon-only"
              name="{{tile?.icon}}"></ion-icon>
</ion-button>