<ion-row class="ion-margin-top ion-margin-bottom">
    <ion-col class="ion-text-center"
             size="12">
        <app-stars [counts]="lives"
                   [difficulty]="difficulty"></app-stars>
    </ion-col>
    <ion-col class="ion-text-center"
             size="12">
        <div>Level {{level}} Completed!</div>
        <div>Your Score: {{score}}</div>
    </ion-col>
    <ion-col class="button-container"
             size="12">
        <ion-button (click)="nextEmitter.emit()"
                    size="large"
                    expand="block"
                    ion-activatable>
            Next
        </ion-button>
    </ion-col>
</ion-row>
