<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab-games">
            <ion-icon name="logo-game-controller-b"></ion-icon>
            <ion-label>Play</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab-stats">
            <ion-icon name="stats"></ion-icon>
            <ion-label>Stats</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
