<ion-content class="ion-justify-content-center" color="light">
    <ng-container *ngTemplateOutlet="campaignGroupTemplate; context:{difficulty: Difficulty.Easy, group: stats?.campaign?.easy}"></ng-container>
    <ng-container *ngTemplateOutlet="campaignGroupTemplate; context:{difficulty: Difficulty.Normal, group: stats?.campaign?.normal}"></ng-container>
    <ng-container *ngTemplateOutlet="campaignGroupTemplate; context:{difficulty: Difficulty.Difficult, group: stats?.campaign?.difficult}"></ng-container>
    <ng-container *ngTemplateOutlet="campaignGroupTemplate; context:{difficulty: Difficulty.Tutorial, group: stats?.campaign?.tutorial}"></ng-container>
</ion-content>

<ng-template #campaignGroupTemplate
             let-difficulty="difficulty"
             let-group="group">
    <ion-list>
        <ion-list-header>
            {{difficulty | uppercase}}
        </ion-list-header>
        <ion-item>
            <ion-label>
                <h2>Highest Score</h2>
                <p>{{group?.highScore || 0}}</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Highest Level</h2>
                <p>{{group?.highLevel || 0}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ng-template>