<ion-row class="ion-margin-top ion-margin-bottom">
    <ion-col class="ion-text-center"
             size="12">
        <ion-icon name="sad"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-center"
             size="12">
        <div>Level {{level}} Failed</div>
        <div *ngIf="lives">{{lives}} Attempts Remaining</div>
        <ng-container *ngIf="!lives">
            <div>Your Score: {{score}}</div>
            <div>Your Best: {{highScore}}</div>
        </ng-container>
    </ion-col>
    <ion-col class="button-container"
             size="12">
        <ion-button (click)="restartEmitter.emit()"
                    size="large"
                    expand="block"
                    ion-activatable>
            {{lives ? 'Try Again' : 'Restart'}}
        </ion-button>
        <ion-button routerLink="/tabs/tab-games/difficulty"
                    size="large"
                    expand="block"
                    ion-activatable>
            Give Up
        </ion-button>
    </ion-col>
</ion-row>
