div {
  &.tutorial {
    color: #3a3c40;
  }

  &.easy {
    color: #cd7f32;
  }

  &.normal {
    color: #C0C0C0;
  }

  &.difficult {
    color: #d4af37;
  }

  > ion-icon {
    font-size: 10vh;

    &:nth-child(1) {
      margin-right: -3vh;
    }

    &:nth-child(2) {
      font-size: 15vh;
    }

    &:nth-child(3) {
      margin-left: -3vh;
    }
  }
}