<div [class]="difficulty">
    <ion-icon [class.bounce]="counts >= 1"
              class="animated"
              name="{{counts >= 1 ? 'star' : 'star-outline'}}"></ion-icon>
    <ion-icon [class.bounce]="counts >= 2"
              class="animated delay-02s"
              name="{{counts >= 2 ? 'star' : 'star-outline'}}"></ion-icon>
    <ion-icon [class.bounce]="counts >= 3"
              class="animated delay-04s"
              name="{{counts >= 3 ? 'star' : 'star-outline'}}"></ion-icon>
</div>