.container {
  display: flex;
  height: calc(100vh - 116px) !important;
}

ion-grid {
    height: 80%;
    max-width: 480px;
    max-height: 564px;

    ion-row {
        height: calc(50%);

        > ion-col {
            > ion-button {
                height: 100%;
            }
        }
    }
}
