<ion-content class="ion-justify-content-center" color="light">
    <div class="container ion-align-items-center">
        <ion-grid>
            <ion-row class="ion-align-self-stretch">
                <ion-col>
                    <ion-button [routerLink]="['/tabs/tab-games/campaign']"
                                [queryParams]="{difficulty: Difficulty.Easy}"
                                class="animated fadeInLeft"
                                expand="full"
                                color="success"
                                ion-activatable>
                        Easy
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button [routerLink]="['/tabs/tab-games/campaign']"
                                [queryParams]="{difficulty: Difficulty.Normal}"
                                class="animated fadeInRight delay-01s"
                                expand="full"
                                color="warning"
                                ion-activatable>
                        Normal
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-self-stretch">
                <ion-col>
                    <ion-button [routerLink]="['/tabs/tab-games/campaign']"
                                [queryParams]="{difficulty: Difficulty.Difficult}"
                                class="animated fadeInLeft delay-03s"
                                expand="full"
                                color="danger"
                                ion-activatable>
                        Difficult
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button [routerLink]="['/tabs/tab-games/campaign']"
                                [queryParams]="{difficulty: Difficulty.Tutorial}"
                                class="animated fadeInRight delay-02s"
                                expand="full"
                                color="primary"
                                ion-activatable>
                        Tutorial
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
