<ng-container *ngIf="options?.length && show">
    <ion-row class="ion-align-self-stretch">
        <ion-col>
            <ion-button [class.pulse]="!showing && hint && isCorrectAnswer(options[0])"
                        [class.infinite]="!showing && hint && isCorrectAnswer(options[0])"
                        [class.fadeInLeft]="showing"
                        (click)="answer(options[0])"
                        class="animated"
                        expand="full"
                        color="{{options[0]?.color}}"
                        ion-activatable>
                <ion-icon slot="icon-only"
                          name="{{options[0]?.icon}}"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button [class.pulse]="!showing && hint && isCorrectAnswer(options[1])"
                        [class.infinite]="!showing && hint && isCorrectAnswer(options[1])"
                        [class.fadeInRight]="showing"
                        [class.delay-01s]="showing"
                        (click)="answer(options[1])"
                        class="animated"
                        expand="full"
                        color="{{options[1]?.color}}"
                        ion-activatable>
                <ion-icon slot="icon-only"
                          name="{{options[1]?.icon}}"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-align-self-stretch">
        <ion-col>
            <ion-button [class.pulse]="!showing && hint && isCorrectAnswer(options[2])"
                        [class.infinite]="!showing && hint && isCorrectAnswer(options[2])"
                        [class.fadeInLeft]="showing"
                        [class.delay-03s]="showing"
                        (click)="answer(options[2])"
                        class="animated"
                        expand="full"
                        color="{{options[2]?.color}}"
                        ion-activatable>
                <ion-icon slot="icon-only"
                          name="{{options[2]?.icon}}"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button [class.pulse]="!showing && hint && isCorrectAnswer(options[3])"
                        [class.infinite]="!showing && hint && isCorrectAnswer(options[3])"
                        [class.fadeInRight]="showing"
                        [class.delay-02s]="showing"
                        (click)="answer(options[3])"
                        class="animated"
                        expand="full"
                        color="{{options[3]?.color}}"
                        ion-activatable>
                <ion-icon slot="icon-only"
                          name="{{options[3]?.icon}}"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ng-container>