.container {
  display: flex;
  height: calc(100vh - 116px) !important;
}

.header {
  > ion-col {
    > div {
      color: white;
      border-radius: 5px;
      margin: 5px 0;

      &.main {
        padding: 15px;
        background-color: darkorange;

        > div {
          &:first-child {
            font-size: 1.5rem;
          }

          &:nth-child(2) {
            font-size: 2rem;
          }
        }
      }

      &.side {
        padding: 8px;
        background-color: saddlebrown;
      }

      ion-icon {
        padding-top: 0.2rem;
        font-size: 1.2rem;
      }
    }
  }
}

ion-grid {
  height: 80%;
  max-width: 480px;
  max-height: 564px;

  .content {
    height: calc(100% - 64px);
  }
}