<ion-content class="ion-justify-content-center" color="light">
    <div class="container ion-align-items-center">
        <ion-grid [ngSwitch]="status">
            <ng-container *ngSwitchCase="'playing'">
                <ion-row class="header ion-margin-bottom">
                    <ion-col size="3">
                        <div class="side">
                            <div class="ion-text-center">Score</div>
                            <div class="ion-text-center">{{score}}</div>
                        </div>
                        <div class="side">
                            <div class="ion-text-center">
                                <ion-icon *ngIf="lives >= 1"
                                          name="heart"></ion-icon>
                                <ion-icon *ngIf="lives >= 2"
                                          name="heart"></ion-icon>
                                <ion-icon *ngIf="lives >= 3"
                                          name="heart"></ion-icon>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="main">
                            <div class="ion-text-center">Level</div>
                            <div class="ion-text-center"><strong>{{level}}</strong></div>
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="side">
                            <div class="ion-text-center">Best</div>
                            <div class="ion-text-center">{{stats?.campaign[difficulty]?.highScore}}</div>
                        </div>
                        <div routerLink="/tabs/tab-games"
                             class="side">
                            <div class="ion-text-center">
                                <ion-icon name="home"></ion-icon>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>

                <div class="content">
                    <app-tile *ngIf="targets"
                              [tile]="targets[targetIndex]"></app-tile>

                    <app-tile-options *ngIf="targetIndex >= targets?.length"
                                      [target]="targets[optionIndex]"
                                      [unavailable]="optionIndex >= 1 ? [targets[optionIndex - 1]]: []"
                                      [difficulty]="difficulty"
                                      (answerEmitter)="answer($event)"></app-tile-options>
                </div>
            </ng-container>

            <div *ngSwitchCase="'advancing'"
                 class="content">
                <app-advance [level]="level"
                             [lives]="lives"
                             [score]="score"
                             [difficulty]="difficulty"
                             (nextEmitter)="advance()"></app-advance>
            </div>
            <div *ngSwitchCase="'restarting'"
                 class="content">
                <app-restart [level]="level"
                             [lives]="lives"
                             [score]="score"
                             [highScore]="statsGroup?.highScore"
                             (restartEmitter)="restart()"></app-restart>
            </div>
        </ion-grid>
    </div>
</ion-content>
